<h1>BlocMarks by Topic</h1>

<div class="row">
  <div class="col-md-8">
    <div class="col-md-4">
      <%= link_to "New Topic", new_topic_path(@topic), class: 'btn btn-success' %>
    </div>
 </div>
</div>

<%= render "bookmarks/bookmark" %>

